.idea
__pycache__
old
data/raw_DAS
data/training_data/raw_seismometer
data/seismometer_test_data
old/00_ablation_horizontal_max/denoisedDAS
old/00_ablation_horizontal_max/plots
experiments/01_ablation_horizontal/denoisedDAS
experiments/01_ablation_horizontal/plots
experiments/01_ablation_horizontal/denoised_synthetic_DAS
experiments/02_ablation_vertical/denoisedDAS
experiments/02_ablation_vertical/plots
experiments/02_ablation_vertical/denoised_synthetic_DAS
experiments/03_accumulation_horizontal/denoisedDAS
experiments/03_accumulation_horizontal/denoised_synthetic_DAS
experiments/03_accumulation_horizontal/plots
experiments/04_accumulation_vertical/denoisedDAS
experiments/04_accumulation_vertical/denoised_synthetic_DAS
experiments/04_accumulation_vertical/plots
experiments/07_combined120/denoisedDAS
experiments/07_combined120/denoised_synthetic_DAS
experiments/07_combined120/plots
experiments/08_combined480/denoisedDAS
experiments/08_combined480/denoised_synthetic_DAS
experiments/08_combined480/plots
experiments/09_random480/denoisedDAS
experiments/09_random480/denoised_synthetic_DAS
experiments/09_random480/plots
experiments/10_random_borehole/denoisedDAS


